/* #BASE CSS (Initital Setup)
---------------------------------
# GLOBAL RESETS
# BASE TYPOGRAPHY
# BUTTONS
# MEDIA
    # RESPONSIVE IMAGES
# LAYOUT
    # CONTAINER
    # MEDIA QUERIES
    # SEMANTIC GRID SYSTEM
# STRUCTURE
    # SITE HEADER
    # SITE NAV
    # MAIN
        # SECTIONS
    # SITE FOOTER
--------------------------------- */
/* GLOBAL RESETS */

* {
  box-sizing: border-box;
}

body{
  margin: 0;
}

/* BASE TYPOGRAPHY */

body {
  font-size: 100%;
  line-height: 1.4;
}

h1, h2, h3, p {
  margin: 0 0 0.5wm 0;
}

/* TYPOGRAPHIC SCALE */
h1 {
  font-size: 3em;
  line-height: 1em;
}

h2 {
  font-size: 2.25em;
  line-height: 1em;
}

h3 {
  font-size: 1.75em;
  line-height: 1em;
}

/* RESPONSIVE IMAGES */
img {
  max-width: 100%;
  height: auto;
}


  /* SITE-HEADER */
  
  .site-header{
    background: #1A1A1A;
    color: white;
  }
  .site-header a{
    color: #E1E57D;
    text-decoration: none;
    font-size: 21px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 500;
  }
  .site-header .site-id{
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .site-header a:hover {
    color: #747474;
  }

  
  .site-nav ul{
    margin: 0;
    padding: 1em;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
  
/* SITE-HERO */

.hero {
  background: black;
  padding: 6.5vh 1em;
  display: grid; 
  place-items: center;
  min-height: 100vh;
}

/* THUMBGRID */
.thumbgrid{
  margin: 0;
  padding:0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.thumbgrid li {
  width: 50%;
  padding: .25em;
}

@media (min-width:768px) {
  .thumbgrid li{
    width: 33.333%;
  }
}
.thumbgrid a {
  display: block;
  position: relative;
}

.thumbgrid a .thumbgrid-caption {
  opacity: 0;
}

.thumbgrid a:hover .thumbgrid-caption {
  opacity: 100;
  font-family: helvetica;
  color: white;
  font-size: 25px;
  padding: .5em; 
}

.thumbgrid img {
  display: block;
  max-width: none;
  width: 100%;
  
}

.thumbgrid a:hover {
  
}
.thumbgrid-caption {
  position: absolute;
  top: 0;
  left:0;
  background: rgb(0 0 0/.25);
  width: 100%;
  height:100%;
}

.thumbgrid-caption h3 {
  margin:0;
  padding:0;
  font-size: 1em;
}

.thumbgrid-caption p {
  margin:.25em 0 .25em 0;
  padding:0 ;
  font-size: .75em;
}

/* PAGE-PORTFOLIOENTRY */
  .page-portfolioentry {
    text-align: center;
  }

  .page-portfolioentry h1 {
    display: inline-block;
    border: 3px solid rgb(21 129 186);
    padding: .5em;
    text-transform: uppercase;
    margin-bottom: 0;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: rgb(21 129 186);
  }

  .page-portfolioentry h2 {
    font-family: 'Helvetica Neue', sans-serif;
    color: rgb(21 129 186);
    font-weight: 300;
  }

  .page-portfolioentry h3 {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: rgb(21 129 186);
    position: absolute;
    top: 8px;
    right: 16px;
    margin-top: 20;
    -webkit-transform: rotate(90deg) 
    
    
  }

  .page-portfolioentry p {
    font-family: 'Helvetica Neue', sans-serif;
    color: rgb(21 129 186);
    font-weight: 300;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
  }

  .page-portfolioentry img {
    display: block;
  }

  .shimmyup-medium {
    margin-top: -15vw;
    border: 0px solid red;
  }

  /* FANCYBOX STYLING */

  .fancybox__content { 
    padding: 0; 
    
  }

  .fancybox__slide { 
    padding: 2em; 
  }

  .fancybox__carousel .fancybox__slide.has-iframe .fancybox__content {
    height: 90%;
  }

