/* #BASE CSS (Initital Setup)
---------------------------------
    #BASE START
        #HTML5
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HELPERS
        #MEDIA
            #IMAGES
            #VIDEOS
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #MEDIAQUERIES
        #CONTAINER
        #GRID
    #BASE SITE
        #SITE STRUCTURE
            #HEADER
                #SITE-BRANDING (LOGO)
            #FOOTER
            #SECTIONS
            #SUB PAGES
        #SITE NAVIGATION
            #TOGGLE-NAV (Default for Small Screens)
--------------------------------- */
/* #HTML5 */
header,
section,
footer,
aside,
nav,
main,
article,
figure {

  /* SITE-HEADER */
  
  .site-header{
    background: #1A1A1A;
    color: white;
  }
  .site-header a{
    color: #E1E57D;
    text-decoration: none;
    font-size: 21px;
    font-family: helvetica;
    font-weight: 500;
  }
  .site-header .site-id{
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .site-nav ul{
    margin: 0;
    padding: 1em;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
  
  body{
    margin: 0;
  }
  
  a:hover { 
    color: #747474;
  }
  
  
