/* #BASE CSS (Initital Setup)
---------------------------------
# GLOBAL RESETS
# BASE TYPOGRAPHY
# BUTTONS
# MEDIA
    # RESPONSIVE IMAGES
# LAYOUT
    # CONTAINER
    # MEDIA QUERIES
    # SEMANTIC GRID SYSTEM
# STRUCTURE
    # SITE HEADER
    # SITE NAV
    # MAIN
        # SECTIONS
    # SITE FOOTER
--------------------------------- */
/* GLOBAL RESETS */

* {
  box-sizing: border-box;
}

body{
  margin: 0;
}

/* BASE TYPOGRAPHY */

body {
  font-size: 100%;
  line-height: 1.4;
  font-family: "neue-haas-grotesk-text", sans-serif;
}

h1, h2, h3, p {
  margin: 0 0 0.5wm 0;
}

/* TYPOGRAPHIC SCALE */
h1 {
  font-size: 3em;
  line-height: 1em;
  font-family: "neue-haas-grotesk-text", sans-serif;
}

h2 {
  font-size: 2.25em;
  line-height: 1em;
  font-family: "neue-haas-grotesk-display", sans-serif;
}

h3 {
  font-size: 1.75em;
  line-height: 1em;
  font-family: "neue-haas-grotesk-text", sans-serif;
}


/* RESPONSIVE IMAGES */
img {
  max-width: 100%;
  height: auto;
}

/* SITE LAYOUT */

/* CONTAINER */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* SEMANTIC GRID SYSTEM */
@media (min-width: 768px) {
  .row {
    display: flex;
    gap: 12em;
  }

  .row .column {
  
  }

  .row .column.one-half {
    width: 50%;
  }
  
}

  


  /* SITE-HEADER */
  
  .site-header{
    background: #0c0c0c;
    color: white;
  }

  .site-header a {
    color: #E1E57D;
    text-decoration: none;
    font-size: 27px;
    font-family: 'neue-haas-grotesk-text', sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  .site-header .site-id{
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .site-header a:hover {
    color: #747474;
  }

  
  .site-nav ul{
    margin: 0;
    padding: .5em;
    list-style: none;
    display: flex;
    justify-content: center;
  }

  .site-nav li:first-child {
    border-right: 3px solid #E1E57D;
  }
  

  .site-nav a {
    display: block;
    line-height: 1;
    margin: 0 20px 0 20px;
  }

  /* MAIN */
  main {
    min-height: calc(100vh - 9em);
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
/* SITE-HERO */

.hero {
  padding: 6.5vh 1em;
  display: grid; 
  place-items: center;
  min-height: 100vh;
}

/* SITE-FOOTER */

.site-footer{
  background: #ffffff;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: 'neue-haas-grotesk-text', sans-serif;
  font-style: normal;
  font-size: 27px;
  font-weight: 500;
  border-top: #000000;
}

.site-footer ul {
  list-style: none;
  justify-content: center;
  display: flex;
  margin: 0;
  height: 100%;
  min-height: 50px;
  padding: .25em;
  padding-bottom: 2em;
  border-top: 3.5px solid black;
  
  
}



/* THUMBGRID */
.thumbgrid{
  margin: 0 auto;
  padding:0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 1150px;
}

.thumbgrid li {
  width: 50%;
  padding: .25em;
}

@media (min-width:768px) {
  .thumbgrid li{
    width: 33.333%;
  }
}
.thumbgrid a {
  display: block;
  position: relative;
}

.thumbgrid a .thumbgrid-caption {
  opacity: 0;
}

.thumbgrid a:hover .thumbgrid-caption {
  opacity: 100;
  font-family: helvetica;
  color: white;
  font-size: 25px;
  padding: .5em; 
}

.thumbgrid img {
  display: block;
  max-width: none;
  width: 100%;
  border-radius: .75%;
  
}

.thumbgrid a:hover {
  
}
.thumbgrid-caption {
  position: absolute;
  top: 0;
  left:0;
  background: rgb(0 0 0/.25);
  width: 100%;
  height:100%;
}

.thumbgrid-caption h3 {
  margin:0;
  padding:0;
  font-size: 1em;
}

.thumbgrid-caption p {
  margin:.25em 0 .25em 0;
  padding:0 ;
  font-size: .75em;
}

/* PAGE-PORTFOLIOENTRY */
  .page-portfolioentry {
    text-align: center;
    padding: 0 2em 2em 2em;
  }

  .page-portfolioentry h1 {
    display: inline-block;
    border: 3px solid rgb(0, 0, 0);
    padding: .5em;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 700;
  }

  .page-portfolioentry h2 {
    font-weight: 400;
  }

  .page-portfolioentry h3 {
    font-weight: 500;
    position: absolute;
    top: 1px;
    right: 16px;
    transform: rotate(90deg) translateX(100%);
    border: 0px solid red;
    transform-origin: right top;
    
     
}

  .page-portfolioentry p {
    font-weight: 400;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
  }

  .page-portfolioentry img {
    display: block;
  }

  .shimmyup-medium {
    margin-top: -15vw;
    border: 0px solid red;
  }

  .shimmyup-medium2 {
    margin-top: 10vw;
    border: 0px solid red;
  }

  .page-portfolioentry.photomontage {
    color: rgb(255, 255, 255);
    background-color: black;

  }

  .page-portfolioentry.photomontage h1 {
    border-color:rgb(255, 255, 255);

  }

  .page-portfolioentry.photomontage img {
    border-radius: .75%;
  }

  .page-portfolioentry.magazinecomposition {
    color: rgb(21, 129, 186);

  }

  .page-portfolioentry.magazinecomposition h1 {
    border-color:rgb(21, 129, 186);

  }

  .page-portfolioentry.tourismlogo {
    color: #EB293C;
  }

  .page-portfolioentry.tourismlogo h1 {
    border-color: #1D81C4;
  }

  .page-portfolioentry.tourismlogo h3.sketches {
    border: none;
    top: 50%;
    right: auto;
    left: 16px;
    transform: rotate(-90deg) translate(-50%, -100%);
    transform-origin: left top;
    font-weight: 500;
  }

  .page-portfolioentry.tourismlogo img {
    border-radius: .75%;
    margin: 3em auto;
  }

  .page-portfolioentry.tourismlogo .twosketches {
    display: grid;
    grid-template-columns: 64.25% 34.75%;
    gap: 5%;
    position: relative;
    padding-left: 3em;
  }


  .page-portfolioentry.brandidentity {
    color: rgb(255, 255, 255);
    background-color: #E47E68;
  }

  .page-portfolioentry.brandidentity h1 {
    border-color:rgb(255, 255, 255);
  }

  .page-portfolioentry.brandidentity img {
    border-radius: .75%;
    margin: 3em auto;
  }

  .page-portfolioentry.booktrilogy {
    color: #333333;
  }

  .page-portfolioentry.booktrilogy img {
    border-radius: .75%;
    margin: 3em auto;
  }

  .page-portfolioentry.booktrilogy .bosketmentions {
    display: grid;
    grid-template-columns: 64.25% 34.75%;
    gap: 5%;
    position: relative;
    padding-left: 3em;
  }


  /* FANCYBOX STYLING */

  .fancybox__content { 
    padding: 0; 
    
  }

  .fancybox__slide { 
    padding: 2em; 
  }

  .fancybox__carousel .fancybox__slide.has-iframe .fancybox__content {
    height: 90%;
  }

  /* CONTACT PAGE STYLING*/

  .page-contact h1 {
    
    font-size: 70px;
    color: transparent;
	  -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    }

  .page-contact h2 {
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-size: 35px;
    font-weight: 500;
    }
  
  .page-contact p {
    font-weight: 500;
    }

/* HOMEPAGE STYLING */

.page-home .hero .site-nav a {
  color: #000000;
  font-family: 'neue-haas-grotesk-display', sans-serif;
  font-weight: 600;
  font-size: 70px;
  text-decoration: none;
}